.background {
    width: 821px;
    height: 999px;
    background-color: #dbd6cb;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: auto;
    height: 100px;
    background-color: #dbd6cb;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header h2 {
    font-family: ariel;
}

.column {
    width: 400px;
    height: 400px;
    background-color: #dbd6cb;
    box-sizing: border-box;

}

.left {
    margin-right: 10px;
    float: left;
}

.right {
    margin-left: 10px;
    float: left;
}

.colcontainer {
    display: block;
}

.introduction {
    width: auto;
    height: 350px;
    background-color: #dbd6cb;
    box-sizing: border-box;
    clear: both;
    padding-left: 20px;
}

.innerbox {
    width: 400px;
    height: 60px;
    background-color: #dbd6cb;
    box-sizing: border-box  ;
    display: inline-block;
    vertical-align: center;
    margin-bottom: 10px;
    padding-left: 20px;
}

/* erre valamilyen megoldást kellene találni:
 hogy ne öröklődjön a padding az innerbox classból

 .left.innerbox:nth-child(3),
.left.innerbox:nth-child(4) {
    padding: 0;
}
*/

.innerbox p {
    margin: 0 0 10px 0;
    padding-left: 20px;
}

span {
    color: red;
}

.half {
    width: 170px;
}

.title {
    background-color: #938c97;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    margin-left: 20px;
}

#hint {
    margin-top: 120px;
    color: grey;
}

input[id="name"],
input[id="phone"],
input[id="email"],
input[id="facebook"],
input[id="twitter"],
input[list="house"] {
    width: 350px;
    height: 30px;
    border-radius: 5px;
}

input[id="year"] {
    width: 60px;
    height: 30px;
    border-radius: 5px;
}

input[id="cvfile"] {
    font-size: 18px;
    border-radius: 5px;
}

input[típe="submit"] {
    font-size: 18px;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

/* gombok formázása még hiányzik */