<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Club</title>
</head>
<body>
<ul>
    <li><a href="/">Information</a></li>
    <li><a href="#">Neutrition Store</a></li>
    <li><a href="/trickCenter">Trick Center</a></li>
</ul>
<form th:action="@{/change}" th:object="${fox}" th:method="post">
    <span>Food</span>
    <p th:text="'Curent food is: ' + ${fox.getEating()}"></p>
    <select name="food">
        <option th:object="${foods}" th:each="food: ${foods}" th:text="${food.name()}">Food</option>
    </select>
    <p>Drink</p>
    <p th:text="'Current drink is: ' + ${fox.getDrinking()}"></p>
    <select name="drink">
        <option th:object="${drinks}" th:each="drink: ${drinks}" th:text="${drink.name()}">Drink</option>
    </select>
    <p><input type="submit" value="Change"/></p>
</form>
</body>
</html>