body {
    background: black;
}

div {
    width: 720px;
    height: 250px;
    background-color: white;
    margin: auto;
    padding: 4px;
}
div div {
    width: auto;
    height: 60px;
    border: 2px solid #4285f4;
    padding: 25px 15px 20px 15px;
    margin: 15px 5px;
}

p {
    width: 50px;
    height: 50px;
    margin: 0px 7px;
    display: inline-block;
}

div div:first-child p {
    background-color: #4285f4;
}

div div:last-child p {
    background-color: #643579;
}

div div:last-child {
    background-color: #ff6347;
}