<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Reddit App</title>
</head>
<body>
<ul style="list-style-type:none">
    <li><a href="/posts/add">Add new Post</a></li>
</ul>
<h2>Posts</h2>
<table width="400">
    <tr align="center">
        <th>SCORE</th>
        <th>ACTION</th>
        <th>CONTENT</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td th:text="${post.score}"></td>
        <td>
            <a th:href="@{'/posts/' + ${post.id} + '/decrease'}">-</a>
            <a th:href="@{'/posts/' + ${post.id} + '/increase'}">+</a>
        </td>
        <td th:text="${post.content}"></td>
    </tr>
</table>
</body>
</html>