<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Todo App</title>
</head>
<body>
<h2>Edit todo:</h2>
<form th:object="${todo}" action="" method="post">
    <input type="hidden" th:field="*{id}"/>
    <span>Todo description</span><input type="text" th:field="*{title}"/>
    <p></p>
    <span>Urgent</span><input type="checkbox" th:value="*{urgent}" th:field="*{urgent}"/>
    <p></p>
    <span>Done</span><input type="checkbox" th:value="*{done}" th:field="*{done}"/>
    <p></p>
    <span>Assignee</span>
    <select name="Assignee" th:object="${assignees}">
        <option th:each="assignee: ${assignees}" th:value="${assignee.id}" th:text="${assignee.name}"></option>
    </select>
    <p></p>
    <button type="submit" value="Submit">Change</button>
</form>
</body>
</html>