<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Todo App</title>
</head>
<body>
<h2>Edit todo:</h2>
<form action="#" th:object="${todo}" method="post">
    <input type="hidden" th:field="${id}"/>
    <span>Todo description</span><input type="text" th:field="${todo.title}"/>
    <p></p>
    <span>Urgent</span><input type="checkbox" th:checked="${todo.urgent}" th:field="${todo.urgent}"/>
    <p></p>
    <span>Done</span><input type="checkbox" th:checked="${todo.done}" th:field="${todo.done}"/>
    <p></p>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>